.heading{
    text-align: center;
    background-color: aqua;
    padding: auto;
}

.subheadingPAD{
    text-align: center;
    background-color: darkblue;
    padding: auto;
}

.nav{
    display: flex;
}

.nav-text{
    margin-left: auto;
    margin-right: auto;
}