.nav{
    display:flex;
    flex-direction: row;

    background-color:#afd7fa;
    padding: 1rem 3rem;
    margin: 1rem 0rem;
    border-radius: 20px;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.05);    
}
.nav-text{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    
}

.whitebox{
    margin-right: auto;
    padding: 20px;
    border: none;
}